{% extends 'partials/base.html' %}
{% load static %}

{% block css %}
<style>
	.icon-button {
		border: none;
		border-radius: 4px;
		/* Ajusta según tus preferencias */
		padding: 10px;
		/* Ajusta según tus preferencias */
		cursor: pointer;
	}
	.button-bag{
		cursor: pointer;
	}
	.icon-button {
		display: flex;
		justify-content: center; /* Centrar horizontalmente */
		align-items: center; /* Centrar verticalmente */
	}
  	.btn-spaced {
   		margin-right: 2px;
	}
	body {
		/* Establecemos la imagen de fondo y ajustamos los estilos */
		background-image: url('/static/images/wallpaper-70.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center center;
		height: 100vh; /* Asegura que la imagen de fondo cubra toda la pantalla */
	}
	.fondo-con-imagen {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5); /* Color de fondo con opacidad */
		z-index: 9999; /* Asegura que esté en la parte superior de otros elementos */
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.imagen-de-fondo {
		max-width: 100%; /* Asegura que la imagen no sea más ancha que la pantalla */
		max-height: 100%; /* Asegura que la imagen no sea más alta que la pantalla */
		display: block;
	}

</style>
{% endblock css %}

{% block content %}
<div id="app">
	<div v-if="loading" class="fondo-con-imagen">
		<img src="/static/images/Poké_Ball_icon.svg.png" alt="Imagen de fondo" class="imagen-de-fondo" />
	</div>
	<div class="container">
		<!-- container starts -->
		<template>
			<div>
				<p>{{user.id}}</p>
				<p>{{user.username}}</p>

			  <label>Buscador pokemon</label>
			  <div class="input-group mb-3">
				<input type="text" v-model="pokemon_name" @keyup.enter="fetchData()" class="form-control" placeholder="Buscar pokemon" aria-label="" aria-describedby="basic-addon1">
				<button @click="fetchData" class="btn btn-primary " type="button">
					Buscar Pokémon
				</button>
			  </div>
			  	<select v-model="orden">
				<option value="asc">De menor a mayor precio</option>
				<option value="desc">De mayor a menor precio</option>
				<option value="none">Sin ordenar</option>
				</select>
		  
			  <button @click="ordenarPokemon">Ordenar</button>
			  <div class="row">
				<div class="col-md-3 d-flex align-items-stretch h-100" v-for="(poke, index) in pokemonOrdenado" :key="index">
				  <div class="card mb-4 clickable-card">
					<div class="card-body p-2">
					  <div class="row">
						<div class="col-12">
						  <img :src="poke.images.small" alt="Imagen" class="w-100 pb-4" />
						</div>
					  </div>
					  <div class="row">
						<div class="col-12">
							
						  <h6 class="d-block pb-2 fs-4" style="font-size: 13px">[[ poke.name ]] [[poke.number]]/[[poke.set.printedTotal]]</h6>
						  <h6 class="d-block pb-2 fs-4" style="font-size: 13px">
							Precio: [[formatPrice(poke.precio_mas_bajo) ? formatPrice(poke.precio_mas_bajo) + ' CLP' : 'Aun no hay publicaciones' ]]

						  </h6>

						  <button v-if="poke.precio_mas_bajo" type="button" data-bs-toggle="modal" data-bs-target="#CrearCarta" class="btn btn-default btn-sm rounded-pill w-100 text-white" style="background-color: green;" @click="Carta_modal(poke.number,poke.set.printedTotal, poke.name,poke.rarity,poke.images.small,{{user.id}},poke.cardmarket.prices.averageSellPrice)">
							Vender
						  </button>
						  <button v-else type="button" data-bs-toggle="modal" data-bs-target="#CrearCarta" class="btn btn-default btn-sm rounded-pill w-100 text-white" style="background-color: red;" @click="Carta_modal(poke.number,poke.set.printedTotal, poke.name,poke.rarity,poke.images.small,{{user.id}},poke.cardmarket.prices.averageSellPrice)">
							Aun no hay publicaciones
						  </button>
						</div>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<!-- Modal -->
			
			<div class="modal fade mt-5" id="CrearCarta" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-xl">
				  <div class="modal-content">
					<div class="modal-header">
		
					  <h5 class="modal-title" id="exampleModalLabel" >precios_historial</h5>
					  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="col-12  p-5">
					  <form class="position-relative w-100">
						<div class="row">
							 <div class="col-12 col-md-6 mb-2">
								<label for="rut" class="form-label">Precio :</label>
								<input type="text" class="form-control" v-model=crear_carta.precio>
							</div>
						</div>
					  </form>
					  <h6>Precio referencia TCGPlayer: [[ crear_carta.TCGPlayer]]USD //[[chilean_pesos(crear_carta.TCGPlayer)]]CLP</h6>
					</div>
					<div class="table-responsive p-5">
						<caption>Cartas Publicadas</caption>
						<table class="table">
						  <thead>
							<tr>
							  <th>Fecha</th>
							  <th>Precio</th>
							  <th>Estado</th>

							</tr>
						  </thead>
						  <tbody>
							<!-- Aquí puedes iterar sobre los precios y fechas para mostrar el historial -->
							<tr v-for="historial in precios_historial">
								<td>[[ formatearFecha(historial.fecha_publicacion) ]]</td>
								<td>[[ formatPrice(historial.precio) ]]</td>
								<td style="color: green;">Disponible</td>
							</tr>
						  </tbody>
						</table>
					  </div>
					<div class="modal-footer">
					  <button type="button" class="btn btn-primary" @click="createCard()" >Publicar Carta</button>
					</div>
				  </div>
				</div>
			  </div>

		</template>
		  
		
		  
		
		<!-- container ends -->
	</div>
</div>
{% endblock content %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js"></script>
<script type="text/javascript" src="/templates/components/pagination.js"></script>
<script type="text/javascript" src="/templates/components/dropdown.js"></script>

<script>
	var app = new Vue({
		el: '#app',
		delimiters: ['[[', ']]'],
		data() {
			return {
			pokemon: [],
			pokemon_name: "",
			crear_carta: [
			],
			currentPage: 1,
 			perPage: 10,
			orden: 'asc',
			user_id:"",
			precios_historial:[],
			loading:false
			}
			
		},
		computed: {
			pokemonOrdenado() {
			return this.pokemon.slice(); // Devuelve una copia ordenada de la lista original
			},
		
			
		},
		mounted() {
           
        },
		created() {
            console.log("hola")
        },
		methods: {
			changePage(newPage) {
				this.currentPage = newPage;

			},
			formatearFecha(fecha) {
				if (fecha) {
					// Parsea la fecha y obtén solo la parte de la fecha (sin la hora)
					const fechaFormateada = new Date(fecha).toLocaleDateString();
					return fechaFormateada;
				}
				return ''; // Devuelve una cadena vacía si la fecha es nula o indefinida
			},
			async verificarExistenciaEnBaseDeDatos(code) {
				try {
					const apiUrl = '/api/verificar-existencia/';
					const data = { code: code };

					const response = await axios.post(apiUrl, data);
					console.log(response.data.precio_mas_bajo)
					
					return (response.data.precio_mas_bajo)
				} catch (error) {
					console.error("Error al verificar existencia en la base de datos:", error);
					return false;
				}
				},
			
			async fetchData() {
				this.loading = true
				const apiUrl = `https://api.pokemontcg.io/v2/cards?q=name:${this.pokemon_name}`;
				const apiKey = "1b329673-ded5-44d8-a42d-5187f70139e9";
				const headers = {
					"X-Api-Key": apiKey,
				};
				try {
					const response = await axios.get(apiUrl, { headers });
					if (response.data && response.data.data && response.data.data.length > 0) {
					this.pokemon = response.data.data;
					console.log(this.pokemon);

					for (const carta of this.pokemon) {
						const code = carta.number + "/" + carta.set.printedTotal;
						const existeEnBaseDeDatos = await this.verificarExistenciaEnBaseDeDatos(code);

						// Agregar el campo "existe" a la carta y marcarlo
						carta.precio_mas_bajo = existeEnBaseDeDatos;
					}
					this.loading = false
					} else {
					console.log("No se han encontrado Pokémon");
					}
				} catch (error) {
					console.error("Error al obtener información de cartas:", error);
				}
				},
				formatPrice(clp){
					if (typeof clp === 'string' && !isNaN(clp)) {
						clp = parseFloat(clp); 
					}

					if (typeof clp === 'number' && !isNaN(clp)) {

						return clp.toLocaleString('es-CL', { style: 'currency', currency: 'CLP' });
					} else {
						return "Entrada no válida"; 
					}

				},
			chilean_pesos(usd) {
			if (typeof usd === 'string' && !isNaN(usd)) {
				usd = parseFloat(usd); 
			}

			if (typeof usd === 'number' && !isNaN(usd)) {
				usd = usd * 800; 

				return usd.toLocaleString('es-CL', { style: 'currency', currency: 'CLP' });
			} else {
				return "Entrada no válida"; 
			}
			},
			getPokemonPrice(pokemon) {
      if (pokemon.cardmarket && pokemon.cardmarket.prices && pokemon.cardmarket.prices.averageSellPrice) {
        return pokemon.cardmarket.prices.averageSellPrice;
      }
      return NaN;
    },
	async fetchPrices(code) {
		const codigoCarta = code;  

		try {
		const apiUrl = '/api/precios/';
		const data = { code: codigoCarta };
		const response = await axios.post(apiUrl, data);
		this.precios_historial = response.data
		console.log(response.data);
		} catch (error) {
		console.error('Error al obtener precios:', error);
		}
	},
	
	Carta_modal(numero,totalSet,nombre,rareza,imagen,id,TCGPlayer){
		
		this.crear_carta = []
		console.log(TCGPlayer)
		this.crear_carta.TCGPlayer = TCGPlayer
		this.crear_carta.code = numero + "/" + totalSet
		this.crear_carta.name = nombre
		this.crear_carta.rarity = rareza
		this.crear_carta.image = imagen
		this.crear_carta.user = id
		this.fetchPrices(this.crear_carta.code)
		console.log(this.crear_carta)
	},
	createCard() {
		console.log(this.crear_carta)
		const data = {
			nombre: this.crear_carta.name,
			rareza: this.crear_carta.rarity,
			precio:this.crear_carta.precio,
			version:"Normal",
			imagen: this.crear_carta.image,
			code: this.crear_carta.code,
			usuario_id: this.crear_carta.user
		};
		
		const header_data = {
			'Content-Type': 'application/json'
		};

		// Realiza la solicitud POST a tu API
		axios.post("/api/crear_carta/",data,{ headers: header_data })
			.then((response) => {
				// Comprobar si se registró correctamente o si hubo un error
				if (response.data.message) {
					// Mostrar mensaje de éxito
					Swal.fire({
						title: 'Carta creada exitosamente',
						icon: 'success',
						timer: 5000, // Duración de 5 segundos
						showConfirmButton: true // No muestra el botón "OK"
					}).then(() => {
						window.location.reload();
					});
					console.log(response.data.message);
					
				} else if (response.data.error) {
					console.error(response.data.error);
				}
			});
	},
    ordenarPokemon() {
		this.pokemon.sort((a, b) => {
		const priceA = this.getPokemonPrice(a);
		const priceB = this.getPokemonPrice(b);

		if (!isNaN(priceA) && !isNaN(priceB)) {
			if(this.orden ==='asc' ){
				return priceA - priceB;
			}else if(this.orden ==='desc'){
				return priceB - priceA;
			}
			else{
				this.fetchData()
			}
		} 
	});	
	},	
	},
	
	});
</script>

{% endblock js %}
